body {
    background-image: url("./images/t18.jpg");
    /* background-color: rgb(123, 118, 118); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  }
  
  .navbar {
    width: 96%;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(127, 121, 121);
    padding: 0.9% 0%;
    margin: auto;
    margin-top: 1.5%;
    opacity: 0.89;
    border: 8px double rgb(254, 213, 10);
  }
  
  .navbar li {
    list-style: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 25px;
  }
  .navbar li:hover {
    color: rgb(216, 198, 0);
    opacity: 1;
  }
  .li a:hover {
    background-color: #f1f1f1;
  }
  .navbar li a:visited {
    color: crimson;
  }
  #horror {
    font-style: oblique;
    font-size: 45px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 1050;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 10px #131313;
  }
  
  .mybtn {
    pad: 2% 0%;
    text-transform: uppercase;
    border: none;
    background-color: antiquewhite;
    border-radius: 6px;
    outline: none;
  }
  .mybtn:hover {
    background-color: rgb(198, 223, 245);
  }
  .Active,
  .Active:hover {
    background-color: rgb(118, 105, 105);
    border: 2px solid yellowgreen;
  }
  #parent_div {
    margin: auto;
    /* border: 3px solid white; */
  }
  /* #parent_div:hover{
      -webkit-box-reflect: right;
      opacity: 0.8;
  } */
  /* #parent1_div{
      margin: auto;
      width:fit-content;
      margin-top: 8px;
  } */
  /* #parent1_div:hover{
      -webkit-box-reflect: right;
      opacity: 0.4;
  } */
  #child_div {
    padding: 0% 0%;
    max-width: max-content;
    min-height: min-content;
  }
  #child-div:hover {
    cursor: pointer;
  }
  #t {
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding-left: 15px;
    font-style: oblique;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    /* margin: auto; */
  }
  #a {
    font-size: 12px;
    color: rgb(5, 5, 5);
    padding-left: 3%;
  }
  #r {
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 3%;
  }
  #p {
    font-size: small;
    color: rgb(1, 1, 1);
    padding-left: 3%;
  }
  
  #empty_div {
    /* border: 2px solid rgb(242, 237, 237); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    /* row-gap:2%; */
    margin: auto;
    margin-top: 2%;
    padding: 1% 1%;
    overflow: hidden;
  }
  #empty_div {
    border-radius: 12px;
    padding: 2% 0%;
  }
  #empty_div div {
    border: 2px solid rgb(15, 15, 15);
    margin-top: 1%;
    background-color: rgb(180, 172, 172);
    box-shadow: 0px 0px 15px rgb(255, 242, 0);
    border: 1px solid white;
    border-radius: 12px;
    /* color: #131313; */
  }
  #empty_div div:hover {
    cursor: pointer;
    transition: all ease-in-out 100ms;
    z-index: 1;
    transform: scale(1.4, 1.3);
  }