nav{
    display: flex;
    justify-content: space-evenly;
}
h1{
    color: pink;
}
div a{
    color: pink;
}
#empty_div {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
  #empty_div div {
    margin-top: 4%;
    margin:auto;
    width: 50%;
    border: 1px solid black;
    background-color: rgb(137, 46, 190);
    border-radius: 12px;
  }
  
  #empty_div img {
    width: 100%;
    height: 70%;
  }
body{
    background-image: url(https://w.wallha.com/ws/5/NAsQMLeD.jpg);
}  